<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Channel Test (200x1, time per channel)</key>
	<array>
		<dict>
			<key>date</key>
			<date>2012-03-16T10:16:00Z</date>
			<key>debug-mac</key>
			<real>0.025</real>
			<key>release-mac</key>
			<real>0.0081</real>
			<key>release-ipad2</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>date</key>
			<date>2012-03-16T13:01:00Z</date>
			<key>debug-mac</key>
			<real>0.018</real>
			<key>release-mac</key>
			<real>0.0012</real>
			<key>release-ipad2</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>date</key>
			<date>2012-04-19T00:01:28Z</date>
			<key>debug-mac</key>
			<real>0.0024</real>
			<key>release-mac</key>
			<real>0.0012</real>
			<key>release-ipad2</key>
			<real>0.0087</real>
		</dict>
	</array>
	<key>Channels Test (20x40, time per channel)</key>
	<array>
		<dict>
			<key>date</key>
			<date>2012-03-16T10:16:00Z</date>
			<key>debug-mac</key>
			<real>0.013</real>
			<key>release-mac</key>
			<real>0.0041</real>
			<key>release-ipad2</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>date</key>
			<date>2012-03-16T13:01:00Z</date>
			<key>debug-mac</key>
			<real>0.0093</real>
			<key>release-mac</key>
			<real>0.00067</real>
			<key>release-ipad2</key>
			<real>0.0</real>
		</dict>
		<dict>
			<key>date</key>
			<date>2012-04-19T00:01:28Z</date>
			<key>debug-mac</key>
			<real>0.0015</real>
			<key>release-mac</key>
			<real>0.0010</real>
			<key>release-ipad2</key>
			<real>0.0070</real>
		</dict>
	</array>
</dict>
</plist>
